# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    env:
      platform: servicios_nube
      region: PE-sur-2
      account: 154123456789
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
       - name: "ejer1"
         run: echo "practica1"
          
       - name: "variables de entorno"
         if: ${{ env.region == 'PE-sur'}}
         run: |
            echo "plataforma: ${{ env.platform }}"
            echo "region: ${{ env.region }}"
            echo "region: ${{ env.account }}"
